<h2>おさかなの編集</h2>
<%= form_with(model: @diary, local: true) do |form| %>
<% if @diary.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @diary.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form.hidden_field :input_at %>

<br>
  <div class="fish-register">
    <h5>● 魚を選択 ( 一覧またはお気に入りから )</h5>
    <div class="fish_wrapper">
    <ul class="fish_content">
      <li>一覧</li>
        <li class="field">
          <%= select_tag'diary[line]',options_for_select([["あ","あ"],["か","か"],["さ","さ"],["た","た"],["な","な"],["は","は"],["ま","ま"],["や","や"],["ら","ら"],["わ","わ"]]) %>
          <%= select_tag'diary[fish_id]',options_from_collection_for_select(@fishes, :id, :name, {selected: @diary.fish.id}), include_blank: '選択して下さい' %></li>
        <li id="fish_content"></li>
        <li class="li-space">
          <%= form.label :favorite %>
          <%= check_box_tag('register_favorite', true) %>
        </li>
      </ul>
      <ul class="fish_content">
      <li>お気に入り</li>
        <li class="field">
          <%= select_tag'favorite[fish_id]',options_from_collection_for_select(@favorite_fishes, :id, :name),{include_blank: '選択して下さい'} %></li>
          <li id="favorite_content"></li>
          <li class="li-space"><%= link_to " お気に入り削除", favorites_path, target: :_blank  %><li>
          </ul>
      </div>
      <br>
  <div class="fish_wrapper">
    <div>
      <h5>● <%= form.label :amount %><span>を入力</span><h5>
          <%= form.text_field :amount %><span>g</span>
          </div>
    <div class="fish-amount">
      <h6>量の目安</h6>
      <ul>
        <li>1切れ 80g <button type="button" class="btn btn-outline-info btn-xs" data-toggle="modal" data-target="#fishSizeModal">詳しく</button></li>
        <li>小さな魚などは 選択タブ下に表示</li>
        <li>缶詰は 商品の表示をご覧下さい</li>
      </ul>
    </div>
  </div>
  <div class="submit button_to">
    <%= form.submit "登録", class: "button"%>
  </div>
  </div>
  <br>
<% end %>

<!-- モーダルダイアログ -->
<div class="modal fade" id="fishSizeModal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fishSizeTitle">切り身の重さ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-fish">
              <div>○ 一般的なサイズ</div>
                <div class="content">
                  <div class="vertical"><%= image_tag 'salmon.png', class: 'fish-img' %><%= image_tag 'tara.png', class: 'fish-img' %><%= image_tag 'saba.png', class: 'fish-img' %> 　　：</div>
                  <div class="flex-vertical-center">　＝ 約80g</div>
                </div>
                <br>
              <div>○ 大きめ 約100g<br>○ 小さめ 約60g</div>　
              <div>ご自宅のスケールで量ると、さらに正確です</div>
            </div>
        </div>
    </div>
</div>

<script>
  $(function() {
    $('#diary_line').change(function() {
      $.get({
        url: "/api/fishes.json",
        data: { line: $('#diary_line').has('option:selected').val() }
      }).then(function(data) {
        console.log('data=%o', data);
        const $nameSelect = $('#diary_fish_id');
        $nameSelect.find('option[value!=""]').remove();
        data.fishes.forEach(function(fish) {
          $nameSelect.append('<option value="' + fish.id + '">' + fish.name + '</option>');
        });
      });
    });
    $('#diary_fish_id').change(function() {
      const fishId = $(this).val();
      if (!fishId) return;
      $.get({
        url: '/api/fishes/' + fishId + '.json',
      }).then(function(data) {
        const fish = data.fish;
        $('#fish_content').text(fish.content);
      })
    });
  });
  $(function() {
    $('#favorite_fish_id').change(function() {
      const fishId = $(this).val();
      if (!fishId) return;
      $.get({
        url: '/api/fishes/' + fishId + '.json',
      }).then(function(data) {
        const fish = data.fish;
        $('#favorite_content').text(fish.content);
      })
    });
  });
  $(function() {
    $('#favorite_content').change(function() {
      const fishId = $(this).val();
      if (!fishId) return;
      $.get({
        url: '/api/fishes/' + fishId + '.json',
      }).then(function(data) {
        const fish = data.fish;
        $('#favorite_fish_id').text(fish.content);
      })
    });
  });
  $(function() {
    $('#favorite_fish_id').change(function() {
        $('#diary_fish_id').prop("selectedIndex", 0);
    })
  });
  $(function() {
    $('#diary_fish_id').change(function() {
        $('#favorite_fish_id').prop("selectedIndex", 0);
    })
  });
  </script>
