<h1>食べたおさかな登録</h1>
<%= form_with(model: @diary, local: true) do |form| %>
<%= form.hidden_field :input_at %>
<ul>
  <h4>魚を選択 一覧またはお気に入りから</h4>
  <h5>魚の一覧から選択</h5>
  <div class="field">
    <%= select_tag'diary[line]',options_for_select([["あ","あ"],["か","か"],["さ","さ"],["た","た"],["な","な"],["は","は"],["ま","ま"],["や","や"],["ら","ら"],["わ","わ"]]) %>
    <%= select_tag'diary[fish_id]',options_from_collection_for_select(@fishes, :id, :name), {include_blank: '一覧から選択する'} %>
    <div id="fish_content"></div>
  </div>
  <h5>お気に入りから選択</h5>
  <div class="field">
    <%= select_tag'favorite[fish_id]',options_from_collection_for_select(@favorite_fishes, :id, :name),{include_blank: 'お気に入りから選択する'} %>
    <div id="favorite_content"></div>
  </div>
  <div class="field">
    <%= form.label :量 %>
    <%= form.text_field :amount %><span>g</span>
  </div>
  <div class="field">
    <%= form.label :選択した魚をお気に入り登録 %>
    <%= check_box_tag('register_favorite', true) %>
  </div>
  <div class="submit">
    <%= form.submit "登録"%>
  </div>
<% end %>
  <%= link_to "お気に入り削除", favorites_path, target: :_blank  %>
<script>
  $(function() {
    $('#diary_line').change(function() {
      $.get({
        url: "/api/fishes.json",
        data: { line: $('#diary_line').has('option:selected').val() }
      }).then(function(data) {
        console.log('data=%o', data);
        const $nameSelect = $('#diary_fish_id');
        $nameSelect.find('option[value!=""]').remove();
        data.fishes.forEach(function(fish) {
          $nameSelect.append('<option value="' + fish.id + '">' + fish.name + '</option>');
        });
      });
    });
    $('#diary_fish_id').change(function() {
      const fishId = $(this).val();
      if (!fishId) return;
      $.get({
        url: '/api/fishes/' + fishId + '.json',
      }).then(function(data) {
        const fish = data.fish;
        $('#fish_content').text(fish.content);
      })
    });
  });
  $(function() {
    $('#favorite_fish_id').change(function() {
      const fishId = $(this).val();
      if (!fishId) return;
      $.get({
        url: '/api/fishes/' + fishId + '.json',
      }).then(function(data) {
        const fish = data.fish;
        $('#favorite_content').text(fish.content);
      })
    });
  });
  $(function() {
    $('#favorite_fish_id').change(function() {
        $('#diary_fish_id').prop("selectedIndex", 0);
    })
  });
  </script>
