<h1>食べたおさかな登録</h1>
<%= form_with(model: @diary, local: true) do |form| %>
  <div class="field">
    <%= select_tag'diary[line]',options_for_select([["あ","あ"],["か","か"],["さ","さ"],["た","た"],["な","な"],["は","は"],["ま","ま"],["や","や"],["ら","ら"],["わ","わ"]]) %></td>
    <%= select_tag'diary[fish_id]',options_from_collection_for_select(@fishes, :id, :name) %>
    <div><textarea name='content'></textarea></div>
  </div>
  <div class="field">
    <%# <%= @favorites.fish %> %>
    <%# <%= select_tag'[favorite]fish_id',options_from_collection_for_select(@favorite, :id, :name) %> %>
  </div>
  <div class="field">
    <%= form.label :量 %>
    <%= form.text_field :amount %><span>g</span>
  </div>
  <div class="submit">
    <%= form.submit "登録"%>
  </div>
<% end %>
<%= button_to "おさかなのお気に入り登録", new_favorite_path, method: :get %>
<script>
  $(function() {
    $('#diary_line').change(function() {
      $.get({
        url: "/api/fishes.json",
        data: { line: $('#diary_line').has('option:selected').val() }
      }).then(function(data) {
        console.log('data=%o', data);
        const $nameSelect = $('#diary_fish_id');
        $nameSelect.find('option').remove();
        data.fishes.forEach(function(fish) {
          $nameSelect.append('<option value="' + fish.id + '">' + fish.name + '</option>');
        });
      });
    });
  });

  </script>
