<h1>今食べた魚の登録</h1>

<%= form_with(model: @diary, local: true) do |form| %>

  <div class="field">
    <%= select_tag'line',options_for_select([["あ","あ"],["か","か"],["さ","さ"],["た","た"],["な","な"],["は","は"],["ま","ま"],["や","や"],["ら","ら"],["わ","わ"]]) %></td>
    <%= select_tag'name',options_from_collection_for_select(@fishes, :id, :name) %>
    <%= form.label :fish %>
    <%= form.text_field :fish %>
  </div>

  <div class="field">
    <%= form.label :量 %>
    <%= form.text_field :amount %><span>g</span>
  </div>

  <div class="submit">
    <%= form.submit "登録"%>
  </div>

<% end %>
<script>
  $(function() {
    $('#line').change(function() {
      $.get({
        url: "/api/fishes.json",
        data: { line: $('#line').has('option:selected').val() }
      }).then(function(data) {
        console.log('data=%o', data);
        const $nameSelect = $('#name');
        $nameSelect.find('option').remove();
        data.fishes.forEach(function(fish) {
          $nameSelect.append('<option value="' + fish.id + '">' + fish.name + '</option>');
        });
      });
    });
  });

  </script>
