<h2>ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <table class="form">
        <tr>
          <th><%= f.label :name %></th>
          <td><%= f.text_field :name, autofocus: true, autocomplete: "name" %></td>
        </tr>
        <tr>
          <th><%= f.label :password %></th>
          <td><%= f.password_field :password, autocomplete: "current-password" %></td>
        </tr>
  </table>
    <div class="actions button_to">
      <%= f.submit "ログイン" %>
    </div>
  <% end %>
