<h2>ログイン</h2>
<div class="form">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <ul>
      <li>
        <dl>
          <dt><%= f.label :name %></dt>
          <dd><%= f.text_field :name, autofocus: true, autocomplete: "name" %></dd>
        </dl>
      </li>
    </ul>
    <ul>
      <li>
        <dl>
          <dt><%= f.label :password %></dt>
          <dd><%= f.password_field :password, autocomplete: "current-password" %></dd>
        </dl>
      </li>
    </ul>
    <div class="actions">
      <%= f.submit "ログイン" %>
    </div>
  <% end %>
</div>
