<div class="wrapper">
  <div class="form">
    <ul>
      <li>
        <dl>
          <dt><%= form.label :name %><dt>
          <dd><%= form.text_field :name %></dd>
        </dl>
      </li>
    </ul>
    <ul>
      <li>
        <dl>
          <dt><%= form.label :line %></dt>
          <dd><%= form.text_field :line %></dd>
        </dl>
      </li>
    </ul>
    <ul>
      <li>
        <dl>
          <dt><%= form.label :n3_oil %> (g)</dt>
          <dd><%= form.text_field :n3_oil %></dd>
        </dl>
      </li>
    </ul>
    <ul>
      <li>
        <dl>
          <dt><%= form.label :vitamin_a %> (μgRAE)</dt>
          <dd><%= form.text_field :vitamin_a %></dd>
        </dl>
      </li>
    </ul>
    <ul>
      <li>
        <dl>
          <dt><%= form.label :mercury %> (%)</dt>
          <dd><%= form.text_field :mercury %></dd>
        </dl>
      </li>
    </ul>
    <ul>
      <li>
        <dl>
          <dt><%= form.label :content %></dt>
          <dd><%= form.text_area :content %></dd>
        </dl>
      </li>
    </ul>

    <div class="actions button_to">
      <%= form.submit %>
    </div>
  </div>
</div>
