<table class="form">
  <tr>
    <th><%= form.label :name %><th>
    <td><%= form.text_field :name %></td>
  </tr>
  <tr>
    <th><%= form.label :line %></th>
    <td><%= form.text_field :line %></td>
  </tr>
  <tr>
    <th><%= form.label :n3_oil %> (g)</th>
    <td><%= form.text_field :n3_oil %></td>
  </tr>
  <tr>
    <th><%= form.label :vitamin_a %> (μgRAE)</th>
    <td><%= form.text_field :vitamin_a %></td>
  </tr>
  <tr>
    <th><%= form.label :mercury %> (%)</th>
    <td><%= form.text_field :mercury %></td>
  </tr>
  <tr>
    <th><%= form.label :content %></th>
    <td><%= form.text_area :content %></td>
  </tr>
</table>
<div class="actions button_to">
  <%= form.submit %>
</div>
