<h1>《管理者ページ》魚の編集</h1>
<%= form_with model: @fish, url: admin_fish_path, local: true, method: :put do |form| %>
<% if @fish.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @fish.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= render partial: 'form', locals: { form: form } %>
<% end %>
<%= button_to 'この魚を削除', admin_fish_path(@fish.id), method: :delete %>
<%= link_to '戻る', admin_fishes_path %>
