<!DOCTYPE html>
<html>
  <head>
    <title>FishApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to "おさかなモニター",diaries_path %>
      <%= link_to "このアプリについて", tops_help_path %>
      <%= link_to "ユーザー情報", user_path(current_user) %>
      <% if current_user.admin == true %>
        <%= link_to "管理者画面", admin_users_path %>
      <% end %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "ユーザー登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
      <%= link_to "ゲストログイン"  %>
      <%= link_to "管理者ログイン"  %>
    <% end %>
    <%= yield %>
    <footer>copyright&copy; 2021 おさかなモニター All Rights Reserved.</footer>
  </body>
</html>
